.aboutMeBox {
    display: inline-block;
    background-color: rgb(49, 48, 47);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.637);
    justify-content: space-evenly;
    line-height: 25px;
    border-radius: 5px;
    margin: 10px;
    margin-right: 20px;
    width: 600px;
    height: 350px;
}