.mainBanner {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/img/backgroundImage.png");
    background-size: cover;
    border-radius: 10px;
    height: 700px;
    padding: 30px;
    margin: 10px;
    text-align: center;
}